*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
}
header >nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: olivedrab;
    padding: 20px;
}
.img{
    background-image: url(./media/img/p8.jpg);
    width: 60px;
    height:60px;
    background-position: center;
    background-size: cover;
    border-radius: 100px;
}
ul{
    display:flex;
    list-style: none;
    gap: 2rem;
    text-transform: uppercase;
}
a{
    text-decoration: none;
}
span{
    display: none;
}
li{
padding-left: 30px;}
#cheek{
    display: non;
    position: relative;
    
}


@media (max-width:600px){
    span{
        display: block;

    }
    ul{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        width: 40%;
        height: 65vh;
        background-color: azure;
        right: -100%;
        top: 0;
        transition: all 0.2s;
        z-index: 100;
       
        
    }
    ul >li{margin-top: 30px;}
    ul >li >a{padding: 5px;}
    #cheek:checked~ ul{right: 0;}
    
}